/**
 * Hide elements at mobile sizes
 */
.hide-mobile{ display: none; }

/**
 * Remove bold off elements that are normally bold
 */
.unbold{ font-weight: normal; }

/**
 * Center the text within the element
 */
.center-text{ text-align: center; }

/**
 * Fix an elements position to top
 */
.fix-to-top{ 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
}

/**
 * Styles for a group of icons in a list
 */
.icon-group{ 
    @extend %make-flex;
    font-size: 2em;
    justify-content: center;
    margin-bottom: $base-line-height*.25;
    
    span{ 
        flex: 1; 
        padding: 0 $base-line-height*.25;
        text-align: center;
    }
    
}

/**
 * Hide the title for ranker.com voting list
 */
.rnkrw-lists .rnkrwHead{ display: none; }

/**
 * Class to add when opacity transition is triggered 
 *  i.e. from .ep-intro-blocl__cover-art--to-fade
 */
.fade-out{
    opacity: 0 !important;
}

.basic-vpadding{ padding: $base-line-height 0 !important; }

.basic-vpadding-btm{ padding-bottom: $base-line-height !important; }