<h1>Join the Discussion</h1>
<ul class="social-buttons-block">  
    <li class="social-block"><a href="https://www.facebook.com/groups/retrorewindpodcast" class="button-block__light"><i class="fa fa-facebook-official"></i> &nbsp;Join Our Group</a></li>
    <li class="social-block"><a href="https://www.twitter.com/retrorewindpod" class="button-block__light"><i class="fa fa-twitter"></i> &nbsp;Follow and Tweet Us</a></li>
    <li class="social-block"><a href="{{ base_url_relative }}/contact" class="button-block__light"><i class="fa fa-envelope"></i> &nbsp;Drop Us a Line</a></li>
</ul>
<br/>
<h1>Retro Rewind+</h1>
<ul>
    <li class="social-block social-block__youtube-feed">
        <h1>Latest YouTube</h1>
        <div class="social-block__youtube-container">
            <iframe src="https://www.youtube.com/embed?listType=playlist&list=UU7agbnBQEYOv4zK8idrrWKg" frameborder="0" allowfullscreen></iframe>
        </div>
    </li>
    <li class="social-block">
        <h1>Latest Instagram</h1>
        {{ instagram_feed() }}
    </li>

</ul>
